{% extends 'root.html' %}

{% block RootBodyClass %}
    class="login-layout light-login"
{% endblock %}

{% block RootBody %}
    <div class="main-container">
        <div class="row">
            <div class="login-container">
                <div class="space-20"></div>
                <div class="center">
                    <h1>
                        <i class="ace-icon fa fa-leaf green"></i>
                        <span class="white" id="id-text2">民主测评系统</span>
                    </h1>
                    {#        <h4 class="blue" id="id-company-text">&copy; Company Name</h4>#}
                </div>
                <div class="space-20"></div>
                <div class="position-relative">
                    <div id="login-box" class="login-box visible widget-box no-border">
                        <div class="widget-body">
                            <div class="widget-main">
                                <h4 class="header blue lighter bigger">
                                    <i class="ace-icon fa fa-coffee green"></i>
                                    登录系统
                                </h4>

                                <div class="space-6"></div>

                                <form action="{% url 'ceping_login' %}" method="post">
                                    {% csrf_token %}
                                    <fieldset>
                                        <label class="block clearfix">
                                            <span class="block input-icon input-icon-right">
                                                <input type="text" class="form-control"
                                                       placeholder="用户名" name="username"/>
                                                <i class="ace-icon fa fa-user"></i>
                                            </span>
                                        </label>
                                        <label class="block clearfix">
                                            <span class="block input-icon input-icon-right">
                                                <input type="password" class="form-control" placeholder="密码"
                                                       name="password"/>
                                                <i class="ace-icon fa fa-lock"></i>
                                            </span>
                                        </label>

                                        <div class="space"></div>
                                        <div class="clearfix">
                                            {% comment %}<label class="inline">
                                        <input type="checkbox" class="ace"/>
                                        <span class="lbl"> 记住我</span>
                                    </label>{% endcomment %}
                                            <button type="submit" class="btn btn-sm btn-primary btn-block">
                                                <i class="ace-icon fa fa-key"></i>
                                                <span class="bigger-110">登录</span>
                                            </button>
                                        </div>
                                        <div class="space-4"></div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}