{% extends "base.html" %}

{% block BaseBread %}
    <div id="breadcrumbs" class="breadcrumbs">
        <ul class="breadcrumb">
            <li><i class="fa fa-home home-icon"></i> <a href="{% url 'poll_index' %}">民主测试系统</a></li>
            <li>修改登录密码</li>
        </ul>
    </div>
{% endblock %}

{% block BaseBody %}
    <form action="{% url 'ceping_password' %}" class="form-horizontal" method="post" id="passwordForm">
        {% csrf_token %}
        {% if msg %}
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"></label>
            <div class="col-sm-9">
                {{ msg|safe }}
            </div>
        </div>
        {% endif %}
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">原密码:</label>

            <div class="col-sm-9">
                <input type="password" name="old_password" id="old_password" placeholder="请输入原密码"
                       maxlength="12" class="col-xs-10 col-sm-5">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">新密码:</label>

            <div class="col-sm-9">
                <input type="password" name="new_password" id="new_password" placeholder="请输入新密码"
                      maxlength="12" class="col-xs-10 col-sm-5">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">确认新密码:</label>

            <div class="col-sm-9">
                <input type="password" name="new_password2" id="new_password2" placeholder="请再次输入新密码"
                       maxlength="12" class="col-xs-10 col-sm-5">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-offset-3 col-md-9">
                <button class="btn btn-sm btn-primary" type="submit">保存</button>
            </div>
        </div>
    </form>
{% endblock %}

{% block BaseJsBlock %}
    <style>
        .error{
            color:red;
            font-size:12px;
        }
    </style>
    <script type="text/javascript">
        $(function () {
            $('#passwordForm').validate({
                rules: {
                    old_password: {
                        required: true,
                        maxlength: 12
                    },
                    new_password: {
                        required: true,
                        maxlength: 12
                    },
                    new_password2: {
                        required: true,
                        maxlength: 12,
                        equalTo: "#new_password"
                    }
                },
                messages: {
                    old_password: {
                        required: "原密码必须输入!",
                        maxlength: "最大允许12位!"
                    },
                    new_password: {
                        required: "新密码必须输入!",
                        maxlength: "最大允许12位!"
                    },
                    new_password2: {
                        required: "确认新密码必须输入!",
                        maxlength: "最大允许12位!",
                        equalTo: "两次输入的新密码不一致1"
                    }
                }
            });
        });
    </script>
{% endblock %}
